  <div class="row">
      <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= @article.title -%></h3>
            </div>
            <div class="panel-body">
              <%= @article.description -%>
            </div>
          </div>

         <% if user_signed_in? -%>
          <% if @article.user_id == current_user.id -%>
          <div class="text-center">
            <div class="btn-group" role="group" aria-label="...">
              <%= link_to "Back", articles_path, class: "btn btn-primary" %>
              <%= link_to "Edit", edit_article_path(@article), class: "btn btn-warning" %>
              <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Do you really want to delete this article?"}, class: "btn btn-danger" %>
            </div>
         </div>
             <% end -%>
         <% else -%>
         <%= link_to "Back To Articles", articles_path, class: "btn btn-primary btn-lg btn-block" %>
          <% end -%>
      </div>

   
    <div class="col-md-6">
    
      <%= render 'comments/form' %>
   
      <div class="comments">
      <hr>
      <h3>Comments</h3>

      <%= render @article.comments %>
      
      </div>

      



</div>