<!DOCTYPE html>
<html>
  <head>
    <title>Welcome | I am Yinka</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  
  	<% if current_page?(root_path) %>
	    <%= render 'layouts/static_pages' %>
    <% elsif current_page?(services_path) || current_page?(about_path) -%>
    	<%= render 'layouts/more_static' %>
  	<% else -%>
  		<%= render 'layouts/blog' %>
	  <% end %>
    
		

	
</html>
